<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regras!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div id="main" class="ion-padding">
    <h1>OBJETIVO DO JOGO</h1>
      <p>Uma Palavra é um party game cooperativo. Como um time, todos jogam para alcançar a melhor pontuação!</p>
      <p>Vocês escreverão pistas e ajudarão um dos jogadores – o jogador ativo – a adivinhar uma palavra Secreta.</p>
      <p>
        Escolham as pistas em segredo, sem interagir com os outros do time!
        Sejam originais para que a mesma palavra não seja escrita por outra pessoa.
        Pistas idênticas serão anuladas antes de o jogador ativo poder vê-las.
      </p>
      <p>No final do jogo, registre sua pontuação de acordo com o número de palavras Secretas descobertas.</p>

      <h1>VISÃO GERAL</h1>
      <ul>
        <li>1) O jogador ativo passa o dispositivo para os companheiros verem a palavra secreta.</li>
        <li>
          2) Cada jogador escreve uma pista sem mostrá-la para ninguém e sem interação entre o time.
          A pista deve ser composta de uma única palavra.
          <i>Observação: um dígito, um número, uma sigla, uma onomatopeia ou um caractere especial são todos considerados palavras. 
          Exemplo: A pista 007 é permitida para a palavra Agente, as pistas Trimmmm ou SMS são permitidas para a palavra Telefone, e a pista $ é permitida para a palavra Dinheiro.</i>
        </li>
        <li>
          2.1) Pistas inválidas: A palavra Secreta escrita de um jeito diferente ( a pista Quarta não pode ser usada se a palavra a ser adivinhada for Quarto), 
          A palavra Secreta escrita em outro idioma (a pista House não pode ser usada se a palavra a ser adivinhada for Casa), 
          Uma palavra da mesma família da palavra Secreta ( a pista Princesa não é permitida se a palavra a ser adivinhada for Príncipe), 
          Uma palavra inventada ( uma pista como “Pedrante” não é permitida se a palavra a ser adivinhada for Pedra), 
          Uma palavra foneticamente idêntica à palavra Secreta, mas, cujo significado seja diferente ( a pista Sessão não é permitida se a palavra a ser adivinhada for Seção).
        </li>
        <li>
          3) Quando todos os jogadores tiverem escrito suas pistas, o jogador ativo deve fechar os olhos. Neste momento, os outros jogadores comparam as pistas escritas.
          Todas as pistas idênticas ou inválidas devem ser anuladas. Para anular uma pista, simplesmente remova-a da rodada.
        </li>
        <li>
          3.1) Pistas idênticas: Duas palavras idênticas (Rato e Rato), Variantes da mesma família (Príncipe e Princesa), 
          Variantes da mesma palavra (Ator e Atriz, Casa e Casas): plurais, diferenciações de gênero e erros ortográficos não contam como diferenças.
        </li>
        <li>
          4) Após as pistas idênticas ou inválidas serem anuladas, peça para o jogador ativo abrir os olhos e tentar adivinhar a palavra Secreta com a ajuda das pistas remanescentes.
          Ele pode dar SOMENTE UM PALPITE.
        </li>
        <li>4.1) Sucesso: Se o jogador ativo adivinhar corretamente a palavra Secreta: o time ganha um ponto e avança para a próxima palavra.</li>
        <li>4.2) Fracasso: Se o jogador ativo der um palpite errado: não ganha ponto e perde a próxima palavra (perde a atual e a próxima).</li>
        <li>4.3) Se o jogador ativo escolher não responder, ele passa a sua vez: perde apenas a palavra atual.</li>
      </ul>

      <h1>FIM DO JOGO</h1>
      <p>O jogo termina quando não houver mais cartas no baralho. Conta-se os pontos e verifica a pontuação exibida no dispositivo.</p>

      <h1>VARIANTE PARA 3 JOGADORES</h1>
      <p>Mesma coisa, mas na hora de escrever pistas, cada jogador escreve duas pistas.</p>
  </div>
</ion-content>
