.row-centered {
    height: 100%;
}
.title {
    font-size: 8vh;
    text-align: center;
}
.sub-title {
    font-size: 5vh;
    text-align: center;
}
.button {
    font-size: 4vh; 
}
p {
    margin: 10px 0;
}