ion-content {
    --background: url('../../assets/bg-paper-green.png');
}
#header-col-word-cnt {
    color: #002c3b;
}
#header-col-correct-points {
    color: #033b00;
}
#header-col-wrong-points {
    color: #3b0300;
}
#header-col-exit-game {

    img {
        width: 1.2em;
        position: relative;
    }
}
.header-img-points {
    position: relative;
    top: 1px;
    width: 0.8em;
}
#row-header {
    background-color: #FFF;
    border-left: solid 2px #e1c8f0;
    border-bottom: solid 2px #e1c8f0;
    font-size: 1.4em;

    ion-col {
        padding-top: 14px;
    }
}
#main-grid {
    height: 100%;
    display: flex;
    flex-flow: column;

    #row-word {
        flex-grow: 1;

        p {
            width: 100%;
        }
        #the-word-is {
            font-size: 8vw;
            width: 100%;
            display: block;
        }
        #the-word {
            font-size: 14.5vw;
            width: 100%;
            display: block;
        }
        #btn-show-word {
            font-size: 2.3em;
        }
        .btn-check-answer {
            font-size: 4.5vw;
            margin: 0 0.2em;
        }
    }
}