.row-centered {
    height: 100%;
}
.card-row {
    width: 100%;
    height: 7.692307%;
    padding: 5%;
    display: block;
    overflow: hidden;
}
.card-row-even {
    background-color: #d4e3e8;
}
.card-row-odd {
    background-color: #cfdde6;
}
.word-area {
    width: 100%;
    height: 80%;
}
.button-area {
    width: 100%;
    height: 20%;
}
.card-row img {
    width: 80%;
    height: 100%;
    position: relative;
    top: 12%;
    left: 13%;
}
ion-grid, ion-row {
    height: 100%;
}
.card-row-selected {
    background-image: none;
    background-color: #f3f480 !important;
}
.btn-check-answer {
    font-size: 2.5vh;
}