<ion-content>
  <ion-grid id="main-grid" class="ion-no-padding">
    <ion-row id="row-header">
      <ion-col id="header-col-word-cnt" class="ion-text-center">
        {{ idxGame + 1 }}/{{ nbrOfCards }}
      </ion-col>
      <ion-col id="header-col-correct-points" class="ion-text-center">
        {{ gamePoints }} <img class="header-img-points" src="assets/check_2.png" />
      </ion-col>
      <ion-col id="header-col-wrong-points" class="ion-text-center">
        {{ errorPoints }} <img class="header-img-points" src="assets/sign-error-2.png" />
      </ion-col>
      <ion-col id="header-col-exit-game" class="ion-text-center">
        <img (click)="resetGame()" src="assets/home.png" />
      </ion-col>
    </ion-row>
    <ion-row id="row-word" class="ion-text-center ion-justify-content-center ion-align-items-center">
      <p *ngIf="showWord">
        <span id="the-word-is">
          A palavra é:
        </span>
        <span id="the-word">
          {{ arrCards[idxGame].name }}
        </span>
      </p>
      <p *ngIf="!showWord">
        <ion-button id="btn-show-word" (click)="clickShowWord()" class="button button-green" shape="round">Exibir Palavra</ion-button>
      </p>
      <p *ngIf="showWord">
        <ion-button (click)="onCorrectWord()" class="button btn-check-answer button-success" shape="round">Acertou!</ion-button>
        <ion-button (click)="onWrongWord()" class="button btn-check-answer button-danger" shape="round">Errou!</ion-button>
        <ion-button (click)="onPassWord()" class="button btn-check-answer button-info" shape="round">Passou!</ion-button>
      </p>
    </ion-row>
  </ion-grid>
</ion-content>