<ion-content>
  <ion-grid style="height: 100%; background-image: url(assets/bg-word-area.jpg);">
    <ion-row justify-content-center align-items-center class="row-centered">
      <ion-grid>
        <ion-row justify-content-center align-items-center class="row-centered">
          <h1 class="title">Jogo "Só Uma"</h1>
        </ion-row>
        <ion-row justify-content-center align-items-center class="row-centered">
          <ion-col>
            <ion-button (click)="openGame()" class="button button-green" shape="round">INICIAR JOGO</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="openRules()" class="button button-info" shape="round">REGRAS</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
