.row-centered {
    height: 100%;
}
.title {
    font-size: 15vw;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}
.button {
    font-size: 6vw;
    width: 40vw;
}
ion-col {
    text-align: center;
}
#main-grid {
    height: 100%;
    /*background-image: url('../../assets/bg-word-area.jpg');*/
    background-image: url('../../assets/bg-paper.jpg');
}