<ion-content>
  <ion-grid id="main-grid">
    <ion-row class="row-centered ion-align-items-center ion-justify-content-center">
      <ion-grid>
        <ion-row class="row-centered ion-align-items-center ion-justify-content-center">
          <h1 class="title">Uma Palavra</h1>
        </ion-row>
        <ion-row class="row-centered ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button (click)="openGame()" class="button button-green" shape="round">INICIAR</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="openRules()" class="button button-info" shape="round">REGRAS</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
